.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log
*.db
*.db-journal
logs/
.DS_Store

*.sqlite3
data
*.env

.pytest_cache
.mypy_cache
.ruff_cache
.venv
*.mo

# local env files
.env.local
.env.*.local

# Coverage
.coverage
.coverage_html
